.container {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    font-family: ui-monospace, monospace;
    font-size: 14px;
    line-height: 21px;
    --webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}