@tailwind base;
@tailwind components;
@tailwind utilities;

.phone-input .react-phone-number-input__icon {
    width: 16px;
    /* Adjust width */
    height: 16px;
    /* Adjust height */
}

.phone-input .react-phone-number-input__icon img {
    width: 100%;
    /* Ensure the image fits within the icon */
    height: 100%;
}